.photos {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    width: 30%;
  }

  // Photo

  .photo {
    &__image {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    &__overlay {
      position: absolute;
      transition: 0.3s ease;
      /* background-color: gray; */
      width: 225px;
      height: 225px;
      opacity: 0;
      text-align: center;
    }

    &:hover {
      .photo__overlay {
        opacity: 1;
      }
      .photo__image{
        filter: blur(4px);
      }
    }

    &__avatar {
      border-radius: 8px;
    }

    &__fullname {
      font-size: 22px;
      margin: 4px;
      color: white;
    }

    &__username {
      font-size: 16px;
      margin: 4px;
      color: white;
    }

    &__icons {
      display: flex;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      bottom: 0px;
      div{
        transition: transform 0.2s linear;
      }
      div:hover {
        transform: scale(1.5);
      }
    }
  }
}