.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }


  .photoList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0 10%;
  }

  .photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    width: 100%;
  }
}