@font-face {
  font-family: "SF UI Display";
  src: url("//db.onlinewebfonts.com/t/762c72a2791c9d3eadc7e3b6b935aa69.eot");
  src: url("//db.onlinewebfonts.com/t/762c72a2791c9d3eadc7e3b6b935aa69.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/762c72a2791c9d3eadc7e3b6b935aa69.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/762c72a2791c9d3eadc7e3b6b935aa69.woff") format("woff"), url("//db.onlinewebfonts.com/t/762c72a2791c9d3eadc7e3b6b935aa69.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/762c72a2791c9d3eadc7e3b6b935aa69.svg#SF UI Display") format("svg");
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  src: url('public/fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
  font-display: swap;
}

//@font-face {
//  font-family: 'SF UI Display';
//  font-style: normal;
//  font-weight: 400;
//  src: url('public/fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
//  font-display: swap;
//}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  src: url('public/fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
  font-display: swap;
}